<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satoru.kishi.demoorderedbroadcast">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--enabled=true e exported=false são os valores default-->
        <receiver android:name=".MeuReceiver"
            android:enabled="true"
            android:exported="false">
            <!--A prioridade 1 é a prioridade menos baixa-->
            <intent-filter android:priority="1">
                <!--Poderia ser apenas MeuOrderedBroadcast, mas por padrão, começar com o nome do package-->
                <action android:name="com.satoru.kishi.demoorderedbroadcast.MeuOrderedBroadcast"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MeuOutroReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="2">
                <action android:name="com.satoru.kishi.demoorderedbroadcast.MeuOutroReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>